<section class="py-4 m-4">
    <div class="container mx-auto flex flex-col items-center">
        <div class="inline-block mb-4">
            <h3 class="font-semibold text-2xl text-rl-gray rl-ctr-title-underline">{{ .Params.heading }}</h3>
        </div>
		<div class="p-4 sm:p-8 w-full md:min-w-lg max-w-lg bg-white rounded-xl shadow-blurred">
            {{ if isset .Params "image" }}
                <img class="rounded-xl shadow-blurred" src="{{ relURL .Params.image }}" />
            {{ end }}
		</div>
	</div>
</section>
