<section class="text-white md:pt-8 pb-8">
    <div class="container mx-auto grid grid-columns-1 md:grid-columns-2
    {{- with .Params.image_position -}}
        {{- if eq "left" . }} md:grid-col-2-reverse{{- end -}}
    {{- end -}}">
        <div class="p-8">
            {{- with .Params.heading -}}<h1 class="mb-2">{{ markdownify . }}</h1>{{- end -}}
            {{- with .Params.content -}}<p class="text-rl-gray">{{ markdownify . }}</p>{{- end -}}
            {{- if and .Params.button_url .Params.button_text -}}
                <a class="btn btn-red" href="{{ .Params.button_url }}">{{ .Params.button_text }}</a>
            {{- end -}}
        </div>
        <div class="p-8 text-black">
            <img src="images/cityscape_red.jpg">
        </div>
    </div>
</section>
