{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle)}}

    <section class="container mx-auto mt-12 px-4 md:px-8 pb-8 flex flex-col items-center">
        <div class="card max-w-lg px-4 md:px-8 py-8">
            <div class="">
                <h3 class="font-semibold text-2xl text-rl-gray rl-l-title-underline">Here is a step by step guide of how to install Red locally:</h3>
                <p class="text-grey-darker">Download the correct Red binary version for your computer from here (takes only a few seconds, it's less than 1MB). Save into a suitable folder.
<br>
                    For Windows users, run it by double-clicking on the Red binary file. It will then automatically build the Red GUI-console. Next time you double-click on the file, the GUI-console will automatically open.
                    
For Linux/OSX users, you need to open a terminal app to be able to run Red. Once you have opened the terminal app, change to the directory in which you saved Red. Now do a: chmod u+x <red-binary> which will make sure that Red can be run on your computer. After that simply run Red using ./<red-binary>. This will build the Red console. Next time you run Red, the console will automatically open.</p>
            </div>
        </div>
    </section>

    {{ with .Content }}
        <section class="container mx-auto mt-12 px-2 md:px-8 pb-8 text-grey-darker content">
            {{ . }}
        </section>
    {{ end }}
    
</div>

{{ end }}
